<!-- includes the user profile photo , username , and title of the page -->
<div class="navbar-brand level-left">

    <a class="navbar-item level-item logo-margin" href="https://bulma.io">
      <img src="../../../assets/images/logo1.jpg" width="112" height="28">
    </a>
  
    <div id="navbarBasicExample" class="navbar-menu level-item logo-margin">
  
      <div class="navbar-start" style="margin-top: 6px;">
        <div style="padding: 4px;margin-right: -10px;">
          <figure class="image is-48x48">
            <img class="is-rounded" src="../../../assets/images/profile.png" width="48" height="48">
          </figure>
        </div>
        <a class="navbar-item subtitle" style="color: azure;">
          User name
        </a>
      </div>
  
    </div>
  
  </div>